div.css-1v0mbdj.ebxwdo61{
    border-radius:10px;
    border:1px solid #02F9D5;
    box-shadow: 0 4px 4px 0 #6c757d, 0 3px 8px 0 #02F9D5;


}

img{
object-fit:cover;
border-radius:10px;
}

p{
color:#0fa3b1;
font-size:15px;
font-weight:bold;
}

div.st-ae.st-af.st-ag.st-bc.st-ai.st-aj.st-bd.st-be.st-b8{
border:1px solid #0fa3b1;
border-radius:5px;
box-shadow: 0 1px 1px 0 #6c757d;
}



div.row-widget.stButton>button.css-v3g5x2.e1ewe7hr10{
border:1px solid grey;
box-shadow: 0 1px 1px 0 #6c757d;

}
